h1 {
  font-size: 80px;
  text-align: center;
  color: white;
  font-family: helvetica;
  font-style: italic;
  text-shadow: 2px 2px black;
}

body {
  padding: 20px;
  background-image: radial-gradient(circle, skyblue, purple, pink);
  text-align: center;
}

a {
  font-family:helvetica;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
}