h1 {
  font-size: 80px;
  text-align: center;
  font-family: helvetica;
  font-style: italic;
  text-shadow: 2px 2px grey;
}

body {
  padding: 20px;
  text-align: center;
}

a {
  color: black;
  font-family:helvetica;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
}

  li {
    cursor: default;
  }

  span {
    color: red;
  }