* {
  box-sizing: border-box;
}

body {
  background-color: yellow;
}

.row {
  display: flex;
}

.col {
  width: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vw;
}

.col-1 {
  width: 15%;
}

.col-2 {
  width: 70%;
}

.col-3 {
  width: 15%;
}

.person {
  width: 20vw;
  z-index: 4;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.spongebob {
  width: 34vw;
  z-index: -1;
  position: relative;
  top: -29vw;
  left: 39.5vw;
}

.spinner {
  width: 19vw;
  z-index: -1;
  position: relative;
  top: -124vw;
  left: 24.5vw;
}

.dance {
  width: 33vw;
  z-index: -1;
  position: relative;
  top: -63vw;
  left: -16.5vw;
}

.cursor {
  width: 10vw;
  z-index: 2;
  position: relative;
  top: -82vw;
  left: 60.5vw;
}

.cursor2 {
  width: 5vw;
  z-index: -1;
  position: relative;
  top: -75vw;
  left: 2.5vw;
  transform: rotate(45deg);
}

.whitehouse {
  width: 30vw;
  z-index: 2;
  position: relative;
  top: -20vw;
  animation: counter 5s linear infinite;
  animation-play-state: paused;
}

.billie {
  width: 15vw;
  z-index: 2;
  position: relative;
  top: -45vw;
  left: 26vw;
  animation: counter 5s linear infinite;
  animation-play-state: paused;
}

.juul {
  width: 35vw;
  z-index: 2;
  position: relative;
  top: -42vw;
  left: 17vw;
  transform: rotate(-49deg);
  animation: counter 5s linear infinite;
  animation-play-state: paused;
}

.tinder {
  width: 12vw;
  z-index: 1;
  position: relative;
  top: -72vw;
  left: 7.5vw;
  animation: counter 5s linear infinite;
  animation-play-state: paused;
}

.eye {
  width: 12vw;
  z-index: 5;
  position: relative;
  top: -76vw;
  left: 14.5vw;
  animation: counter 5s linear infinite;
  animation-play-state: paused;
}

.fortnite {
  width: 21vw;
  z-index: 1;
  position: relative;
  top: -88vw;
  left: -4.5vw;
  animation: counter 5s linear infinite;
  animation-play-state: paused;
}

.hydro {
  width: 9vw;
  z-index: 1;
  position: relative;
  top: -111vw;
  left: 34.5vw;
  animation: counter 5s linear infinite;
  animation-play-state: paused;
}

.dog {
  width: 14vw;
  z-index: 1;
  position: relative;
  top: -126vw;
  left: 37.5vw;
  animation: counter 5s linear infinite;
  animation-play-state: paused;
}

.sparkle {
  width: 31vw;
  z-index: 0;
  position: relative;
  top: -155vw;
  left: 7.5vw;
  opacity: 0.5;
}

.girl {
  width: 31vw;
  z-index: 6;
  position: relative;
  left: 50%;
  top: -33vw;
  transform: translateX(-50%);
  filter: grayscale(100%);
}

.gif1 {
  width: 46vw;
  z-index: 3;
  position: relative;
  top: 13vw;
  left: -9.5vw;
}

.gif2 {
  width: 36vw;
  z-index: 3;
  position: relative;
  top: -6vw;
  left: 6.5vw;
}

.gif3 {
  width: 43vw;
  z-index: 3;
  position: relative;
  top: -9vw;
  left: -16.5vw;
}

.gif4 {
  width: 39vw;
  z-index: 3;
  position: relative;
  top: -67vw;
  left: 22.5vw;
}

.word {
  width: 18vw;
  z-index: 3;
  position: relative;
  top: -137vw;
  left: -1.5vw;
}

.stitch {
  width: 20vw;
  z-index: 3;
  position: relative;
  top: -151vw;
  left: 59.5vw;
}

.cheese {
  width: 20vw;
  z-index: -1;
  position: relative;
  top: -149vw;
  left: 60.5vw;
}

.gif5 {
  width: 39vw;
  z-index: 2;
  position: relative;
  top: -83vw;
  left: -8.5vw;
}

.gif6 {
  width: 36vw;
  z-index: 3;
  position: relative;
  top: -138vw;
  left: 29.5vw;
}

.swirl {
  width: 56vw;
  z-index: 3;
  position: relative;
  top: -161vw;
  left: -0.5vw;
  filter: grayscale(100%);
  opacity: 0.7;
}

.ashley {
  width: 24vw;
  z-index: 3;
  position: relative;
  top: -8vw;
  left: -0.5vw;
}

.regina {
  width: 24vw;
  z-index: 3;
  position: relative;
  top: 1vw;
  left: -0.5vw;
}

.justin {
  width: 24vw;
  z-index: 3;
  position: relative;
  top: 9vw;
  left: -0.5vw;
}

.ash {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8vw;
  padding: 12vw;
  position: relative;
  top: -95vw;
  left: 13vw;
}

.reg {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8vw;
  padding: 12vw;
  position: relative;
  top: -109vw;
  left: 13vw;
}

.jus {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8vw;
  padding: 12vw;
  position: relative;
  top: -127vw;
  left: 13vw;
}

.ashleyname {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2vw;
  position: relative;
  top: 1vw;
}

.reginaname {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2vw;
  top: 30vw;
  position: relative;
}

.justinname {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2vw;
  top: 58vw;
  position: relative;
}

.backgroundcontainer {
  background-color: white;
  padding: 6vw;
  margin-top: -129vw;
}

.backgroundcontainer2 {
  background-color: white;
  padding: 6vw;
  margin-top: -10vw;
}

.backgroundcontainer3 {
  background-color: white;
  padding: 6vw;
  margin-top: -10vw;
}

.backgroundcontainer4 {
  background-color: white;
  padding: 6vw;
  margin-top: -10vw;
}

.backgroundcontainer5 {
  background-image: linear-gradient(pink, yellow);
  padding: 3vw;
  margin-top: 4vw;
  height: 117vw;
}

.question1 {
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 2.5vw;
  margin-top: 0vw;
}

span{
  font-family: cooper-black-std, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.3vw;
}

a{
  color: red;
  text-decoration: none
}

.title {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 13vw;
  text-align: center;
}

.textbox2, .textbox, .textbox3, .textbox4{
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5vw;
  margin-top: -20vw;
}

.billie:hover {
  animation-play-state: running;
}

.whitehouse:hover {
  animation-play-state: running;
}

.juul:hover {
  animation-play-state: running;
}

.tinder:hover {
  animation-play-state: running;
}

.eye:hover {
  animation-play-state: running;
}

.hydro:hover {
  animation-play-state: running;
}

.dog:hover {
  animation-play-state: running;
}

.fortnite:hover {
  animation-play-state: running;
}

.textbox {
  margin-top: -3vw;
}

.textbox2 {
  margin-top: -147vw;
}

.textbox3 {
  margin-top: -159vw;
}

.pictures1 {
  margin-top: 6vw;
  margin-left: 2vw;
}

.pictures2 {
  margin-top: -8vw;
}

@keyframes clockwise {
  100% {transform: rotate(1turn); }
}

@keyframes counter {
  100% {transform: rotate(-1turn); }
}

@media (max-width: 800px) {
  .title {
    font-size: 5rem;
    text-align: center
  }
  .row {
    display: inline-block;
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .stitch{
    z-index: -2;
    position: relative;
    left: 70vw;
  }
  .word{
    z-index: -2;
    position: relative;
    left: 5vw;
  }
  .col {
    width: 100%;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
  }
  .textbox2, .textbox, .textbox3, .textbox4{
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin-top: -20vw;
  }   
  span{
    font-size: 1rem;
  }
  .pictures1{
    width: 5vw;
    position: relative;
    left: 15%;
    transform: translateX(-50%);
  }
  .pictures2{
    width: 5vw;
    position: relative;
    left: 15%;
    transform: translateX(-50%);
  }
  .girl {
    position: relative;
    left: 8rem;
  }
  .person {
    position: relative;
    left: 8rem;
  }
  .textbox {
    margin-top: 2rem;
  }
  .textbox2 {
    position: relative;
    margin-top: -48rem;
  }
  .textbox3 {
    position: relative;
    margin-top: -49rem;
  }
  .textbox4 {
    position: relative;
    margin-top: -1rem;
  }
  .ash{
    font-size:.7rem;
  }
  .reg{
    position: relative;
    margin-top:2rem;
    font-size: .7rem
  }
  .jus{
    position: relative;
    margin-top:2rem;
    font-size:.7rem;
  }
  .backgroundcontainer5{
    height: 40rem;
  }
  }
}

@media print { 
  .question1{
    display:none;
  }
  .ashleyname{
    display:none;
  }
  .reginaname{
    display:none;
  }
  
}

