
#canvas1 {
  width: 100vw;
  height: 100vh;
}

html,body{
  margin: 0;
  padding: 0;
}

.alltext {
  position: relative;
  top: 0vw;
}

a {
  color:black;
}

.yellow {
  position: absolute;
  top: 3vw;
  left: 10vw;
  width: 2vw;
  height: 2vw;
  background: #FFEB3B;
  border-radius: 50%
}

.blue {
  position: absolute;
  top: 3vw;
  left: 45vw;
  width: 2vw;
  height: 2vw;
  background: midnightblue;
  border-radius: 50%
}

.green {
  position: absolute;
  top: 3vw;
  left: 27vw;
  width: 2vw;
  height: 2vw;
  background: lightseagreen;
  border-radius: 50%
}

.purple {
  position: absolute;
  top: 3vw;
  left: 60vw;
  width: 2vw;
  height: 2vw;
  background: blueviolet;
  border-radius: 50%
}


.black {
  position: absolute;
  top: 3vw;
  left: 78vw;
  width: 2vw;
  height: 2vw;
  background: black;
  border-radius: 50%
}

h4 {
  position: absolute;
  top: 1vw;
  left: 13vw;
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 1.5vw;
  z-index:3;
}


.rectangle {
  height: 4vw;
  width: 90vw;
  position: absolute;
  left: 8vw;
  color: white;
  outline: 0.2vw solid black;
  top: 2vw;
  z-index: 3;
}

img[src="key.png"]{
  position: absolute;
  width: 5vw;
  left: 2vw;
  top: 1vw;
  height: auto;
}

.title {
  font-size: 13vw;
  position: relative;
  top: 19vw;
  left: 5vw;
  font-family: upgrade, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.year {
  font-size: 13vw;
  position: relative;
  top: 41vw;
  left: 57vw;
  font-family: upgrade, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.group1 {
  position: relative;
  top: -31vw;
  left: 29vw;
}

.group2 {
  position: relative;
  top: -46.2vw;
  left: 37vw;
}

.group3 {
  position: relative;
  top: -57vw;
  left: 47vw;
}

.group4 {
  position: relative;
  top: -66vw;
  left: 57vw;
}

.group5 {
  position: relative;
  top: -42vw;
  left: 14vw;
}

.group6 {
  position: relative;
  top: -55vw;
  left: 37vw;
}

.group7 {
  position: relative;
  top: -68vw;
  left: 47vw;
}

.group8 {
  position: relative;
  top: -79vw;
  left: 57vw;
}

.group9 {
  position: relative;
  top: -90vw;
  left: 79vw;
}

.group10 {
  position: relative;
  top: -101vw;
  left: 90vw;
}

.group11 {
  position: relative;
  top: -87vw;
  left: 29vw;
}

.group12 {
  position: relative;
  top: -96vw;
  left: 37vw;
}

.group13 {
  position: relative;
  top: -87vw;
  left: 2vw;
}

.group14 {
  position: relative;
  top: -96vw;
  left: 29vw;
}

.group15 {
  position: relative;
  top: -104.5vw;
  left: 37vw;
}

.group16 {
  position: relative;
  top: -115.5vw;
  left: 47vw;
}

.group17 {
  position: relative;
  top: -126vw;
  left: 90vw;
}

.date-1 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-1 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}

.date-2 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-2 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}

.date-3 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-3 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}
.date-4 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-4 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}

.date-5 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-5 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}

.date-6 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-6 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}


.date-7 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-7 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}


.date-8 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-8 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}

.date-9 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-9 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}

.date-10 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-10 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}

.date-11 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-11 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}

.date-12 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-12 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}

.date-13 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-13 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}

.date-14 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-14 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}

.date-15 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-15 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}

.date-16 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-16 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}

.date-17 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 700;
  font-style: bold;
  position: relative;
  font-size: 1.5vw;
}

.list-17 {
  font-family: ff-providence-sans-web-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  font-size: 1.5vw;
  word-spacing: 100vw;
  line-height: 1.5;
}

/*
a {
  position: relative
}

a span {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255,255,255,.8);
}

a:hover span {
  display: block
}*/



button {
  display: inline-block;
  border: none;
  padding: 2.3rem 3.3rem;
  margin: 0;
  text-decoration: none;
  background: #ffffff;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
}

.spinner {
width: 10vw;
    height: 10vw;
    position: relative;
    margin: 10vw auto;
    top: -148vw;
    z-index: 1;
    left: 25vw;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: midnightblue;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 4.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.spinner-2 {
width: 10vw;
    height: 10vw;
    position: relative;
    margin: 10vw auto;
    top: -234vw;
    z-index: 1;
    left: -34vw;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: midnightblue;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 4.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



.spinner2 {
    width: 10vw;
    height: 10vw;
    margin: 10vw auto;
    background-color: #FFEB3B;
    border-radius: 100%;
    position: relative;
    top: -265vw;
    left: 41vw;
    z-index: 1;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}


.spinner2-2 {
width: 10vw;
    height: 10vw;
    margin: 10vw auto;
    background-color: #FFEB3B;
    border-radius: 100%;
    position: relative;
    top: -195vw;
    left: -29vw;
    z-index: 1;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}


.spinner3 {
margin: 10vw auto;
    width: 10vw;
    height: 10vw;
    top: -286vw;
    left: 19vw;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 1.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: black;
  border-radius: 100%;
  opacity: 70%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.spinner3-2 {
margin: 10vw auto;
    width: 10vw;
    height: 10vw;
    top: -263vw;
    left: -41vw;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 1.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: black;
  border-radius: 100%;
  opacity: 70%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.spinner3-3 {
margin: 10vw auto;
    width: 10vw;
    height: 10vw;
    top: -262vw;
    left: 19vw;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 1.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: black;
  border-radius: 100%;
  opacity: 70%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.spinner3-4 {
margin: 10vw auto;
    width: 10vw;
    height: 10vw;
    top: -323vw;
    left: 42vw;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 1.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: black;
  border-radius: 100%;
  opacity: 70%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.spinner4 {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner4 > div {
  width: 10vw;
  height: 10vw;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner4 .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner4 .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.la-ball-scale-multiple,
.la-ball-scale-multiple > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-scale-multiple {
    display: block;
    font-size: 0;
    color: blueviolet;
}
.la-ball-scale-multiple.la-dark {
    color: #333;
}
.la-ball-scale-multiple > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-scale-multiple {
    width: 32px;
    height: 32px;
}
.la-ball-scale-multiple > div {
position: absolute;
    top: -360vw;
    left: 2vw;
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
    -moz-animation: ball-scale-multiple 1s 0s linear infinite;
    -o-animation: ball-scale-multiple 1s 0s linear infinite;
    animation: ball-scale-multiple 1.3s 0s linear infinite;
}

.la-ball-scale-multiple > div:nth-child(2) {
    -webkit-animation-delay: .2s;
       -moz-animation-delay: .2s;
         -o-animation-delay: .2s;
            animation-delay: .2s;
}
.la-ball-scale-multiple > div:nth-child(3) {
    -webkit-animation-delay: .4s;
       -moz-animation-delay: .4s;
         -o-animation-delay: .4s;
            animation-delay: .4s;
}
.la-ball-scale-multiple.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-scale-multiple.la-sm > div {
    width: 16px;
    height: 16px;
}
.la-ball-scale-multiple.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-scale-multiple.la-2x > div {
    width: 64px;
    height: 64px;
}
.la-ball-scale-multiple.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-scale-multiple.la-3x > div {
    width: 96px;
    height: 96px;
}

/*2*/

.la-ball-scale-multiple-2,
.la-ball-scale-multiple-2 > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-scale-multiple-2 {
    display: block;
    font-size: 0;
    color: blueviolet;
}
.la-ball-scale-multiple-2.la-dark {
    color: #333;
}
.la-ball-scale-multiple-2 > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-scale-multiple-2 {
    width: 32px;
    height: 32px;
}
.la-ball-scale-multiple-2 > div {
position: absolute;
    top: -384vw;
    left: 58vw;
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
    -moz-animation: ball-scale-multiple 1s 0s linear infinite;
    -o-animation: ball-scale-multiple 1s 0s linear infinite;
    animation: ball-scale-multiple 1.3s 0s linear infinite;
}

.la-ball-scale-multiple-2 > div:nth-child(2) {
    -webkit-animation-delay: .2s;
       -moz-animation-delay: .2s;
         -o-animation-delay: .2s;
            animation-delay: .2s;
}
.la-ball-scale-multiple-2 > div:nth-child(3) {
    -webkit-animation-delay: .4s;
       -moz-animation-delay: .4s;
         -o-animation-delay: .4s;
            animation-delay: .4s;
}
.la-ball-scale-multiple-2.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-scale-multiple-2.la-sm > div {
    width: 16px;
    height: 16px;
}
.la-ball-scale-multiple-2.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-scale-multiple-2.la-2x > div {
    width: 64px;
    height: 64px;
}
.la-ball-scale-multiple-2.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-scale-multiple-2.la-3x > div {
    width: 96px;
    height: 96px;
}

/*3*/

.la-ball-scale-multiple-3,
.la-ball-scale-multiple-3 > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-scale-multiple-3 {
    display: block;
    font-size: 0;
    color: blueviolet;
}
.la-ball-scale-multiple-3.la-dark {
    color: #333;
}
.la-ball-scale-multiple-3 > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-scale-multiple-3 {
    width: 32px;
    height: 32px;
}
.la-ball-scale-multiple-3 > div {
position: absolute;
    top: -346vw;
    left: 62vw;
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
    -moz-animation: ball-scale-multiple 1s 0s linear infinite;
    -o-animation: ball-scale-multiple 1s 0s linear infinite;
    animation: ball-scale-multiple 1.3s 0s linear infinite;
}

.la-ball-scale-multiple-3 > div:nth-child(2) {
    -webkit-animation-delay: .2s;
       -moz-animation-delay: .2s;
         -o-animation-delay: .2s;
            animation-delay: .2s;
}
.la-ball-scale-multiple-3 > div:nth-child(3) {
    -webkit-animation-delay: .4s;
       -moz-animation-delay: .4s;
         -o-animation-delay: .4s;
            animation-delay: .4s;
}
.la-ball-scale-multiple-3.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-scale-multiple-3.la-sm > div {
    width: 16px;
    height: 16px;
}
.la-ball-scale-multiple-3.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-scale-multiple-3.la-2x > div {
    width: 64px;
    height: 64px;
}
.la-ball-scale-multiple-3.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-scale-multiple-3.la-3x > div {
    width: 96px;
    height: 96px;
}

/* 4 */
.la-ball-scale-multiple-4,
.la-ball-scale-multiple-4 > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-scale-multiple-4 {
    display: block;
    font-size: 0;
    color: blueviolet;
}
.la-ball-scale-multiple-4.la-dark {
    color: #333;
}
.la-ball-scale-multiple-4 > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-scale-multiple-4 {
    width: 32px;
    height: 32px;
}
.la-ball-scale-multiple-4 > div {
position: absolute;
    top: -304vw;
    left: 22vw;
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
    -moz-animation: ball-scale-multiple 1s 0s linear infinite;
    -o-animation: ball-scale-multiple 1s 0s linear infinite;
    animation: ball-scale-multiple 1.3s 0s linear infinite;
}

.la-ball-scale-multiple-4 > div:nth-child(2) {
    -webkit-animation-delay: .2s;
       -moz-animation-delay: .2s;
         -o-animation-delay: .2s;
            animation-delay: .2s;
}
.la-ball-scale-multiple-4 > div:nth-child(3) {
    -webkit-animation-delay: .4s;
       -moz-animation-delay: .4s;
         -o-animation-delay: .4s;
            animation-delay: .4s;
}
.la-ball-scale-multiple-4.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-scale-multiple-4.la-sm > div {
    width: 16px;
    height: 16px;
}
.la-ball-scale-multiple-4.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-scale-multiple-4.la-2x > div {
    width: 64px;
    height: 64px;
}
.la-ball-scale-multiple-4.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-scale-multiple-4.la-3x > div {
    width: 96px;
    height: 96px;
}

/* 5 */
.la-ball-scale-multiple-5,
.la-ball-scale-multiple-5 > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-scale-multiple-5 {
    display: block;
    font-size: 0;
    color: blueviolet;
}
.la-ball-scale-multiple-5.la-dark {
    color: #333;
}
.la-ball-scale-multiple-5 > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-scale-multiple-5 {
    width: 32px;
    height: 32px;
}
.la-ball-scale-multiple-5 > div {
position: absolute;
    top: -334vw;
    left: 30vw;
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
    -moz-animation: ball-scale-multiple 1s 0s linear infinite;
    -o-animation: ball-scale-multiple 1s 0s linear infinite;
    animation: ball-scale-multiple 1.3s 0s linear infinite;
}

.la-ball-scale-multiple-5 > div:nth-child(2) {
    -webkit-animation-delay: .2s;
       -moz-animation-delay: .2s;
         -o-animation-delay: .2s;
            animation-delay: .2s;
}
.la-ball-scale-multiple-5 > div:nth-child(3) {
    -webkit-animation-delay: .4s;
       -moz-animation-delay: .4s;
         -o-animation-delay: .4s;
            animation-delay: .4s;
}
.la-ball-scale-multiple-5.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-scale-multiple-5.la-sm > div {
    width: 16px;
    height: 16px;
}
.la-ball-scale-multiple-5.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-scale-multiple-5.la-2x > div {
    width: 64px;
    height: 64px;
}
.la-ball-scale-multiple-5.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-scale-multiple-5.la-3x > div {
    width: 96px;
    height: 96px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-scale-multiple {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    5% {
        opacity: .75;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@-moz-keyframes ball-scale-multiple {
    0% {
        opacity: 0;
        -moz-transform: scale(0);
             transform: scale(0);
    }
    5% {
        opacity: .75;
    }
    100% {
        opacity: 0;
        -moz-transform: scale(1);
             transform: scale(1);
    }
}
@-o-keyframes ball-scale-multiple {
    0% {
        opacity: 0;
        -o-transform: scale(0);
           transform: scale(0);
    }
    5% {
        opacity: .75;
    }
    100% {
        opacity: 0;
        -o-transform: scale(1);
           transform: scale(1);
    }
}
@keyframes ball-scale-multiple {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
           -moz-transform: scale(0);
             -o-transform: scale(0);
                transform: scale(0);
    }
    5% {
        opacity: .75;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(1);
           -moz-transform: scale(1);
             -o-transform: scale(1);
                transform: scale(1);
    }
}

lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle > div {
display: inline-block;
    width: 10vw;
    position: absolute;
    top: 59vw;
    left: 22vw;
    height: 10vw;
    margin: 8px;
    opacity: 80%;
    border-radius: 50%;
    background: lightseagreen;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

lds-circle-2 {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle-2 > div {
    display: inline-block;
    width: 10vw;
    position: absolute;
    top: 15vw;
    left: 82vw;
    height: 10vw;
    margin: 8px;
    opacity: 80%;
    border-radius: 50%;
    background: lightseagreen;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle-2 {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

lds-circle-3 {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle-3 > div {
display: inline-block;
    width: 10vw;
    position: absolute;
    top: 38vw;
    left: 45vw;
    height: 10vw;
    margin: 8px;
    opacity: 80%;
    border-radius: 50%;
    background: lightseagreen;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle-2 {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

lds-circle-4 {
  display: inline-block;
  transform: translateZ(1px);
}
.lds-circle-4 > div {
display: inline-block;
    width: 10vw;
    position: absolute;
    top: 70vw;
    left: 82vw;
    height: 10vw;
    margin: 8px;
    opacity: 80%;
    border-radius: 50%;
    background: lightseagreen;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes lds-circle-2 {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}



