body {
  background-color: skyblue;
}

@font-face {
  font-family: 'neutraface';
  src: url('fonts/neutraface.woff') format('woff');
  font-style: normal;
 }
 
.first-paragraph { 
  font-family:'Fredoka One', cursive;
  width: 100%;
 }

.second-paragraph {
  font-family: 'Poiret One', cursive;
  font-size: 3vw;
  width: 100%;
 }

 .third-paragraph {
  font-family: 'neutraface';
  font-size: 3vw;
  width: 100%;
 }

 .sidebar {
  width: 50%;
 }

 .row {
  display: flex;
 }
