body {
  background-color: floralwhite;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.col {
  width: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vw;
}

.col-1 {
  width: 33%;
}

.col-2 {
  width: 33%;
}

.col-3 {
  width: 33%;
}

@font-face {
  font-family: 'neutraface';
  src: url('fonts/neutraface.woff') format('woff');
  font-style: normal;
 }

.col {
  font-size: 1vw;
  font-family: 'Courier Prime', monospace;
}

.title {
  font-family: 'neutraface';
  font-size: 5vw;
}

.hand{
  width: 30vw;
  position: absolute;
  top:16vw;
  left: 0.2vw;
  animation: counter 5s linear infinite;
  animation-play-state: paused;
}

.caption-first {
  font-size: 0.8vw;
  position: absolute;
  top: 32vw;
  font-family: 'Courier Prime', monospace;
  font-style: italic;
}

.caption-second {
  font-size: 0.8vw;
  position: absolute;
  top: 92vw;
  font-family: 'Courier Prime', monospace;
  font-style: italic;
}

.caption-third {
  font-size: 0.8vw;
  position: absolute;
  top: 92vw;
  right: 2.5vw;
  font-family: 'Courier Prime', monospace;
  font-style: italic;
  text-align: right;
}

.credit {
  font-family: 'Courier Prime', monospace;
  color: black;
  font-size: 0.7vw;
}

.caption-fourth {
  font-size: 0.8vw;
  position: absolute;
  top: 53vw;
  right: 2.5vw;
  font-family: 'Courier Prime', monospace;
  font-style: italic;
  text-align: right;
}

.quote {
  font-size: 1.5vw;
  font-family: 'neutraface';
}

.agnes {
  position: absolute;
  width: 30vw;
  top: 35vw;
}

.agnes2 {
  width: 25vw;
  position: absolute;
  top:55vw;
}

.hand2{
  width: 30vw;
  position: absolute;
  top:70vw;
  right: 0.2vw;
  animation: counter 5s linear infinite;
  animation-play-state: paused;
}

.hand:hover {
  animation-play-state: running;
}

.hand2:hover {
  animation-play-state: running;
}

@keyframes clockwise {
  100% {transform: rotate(1turn); }
}

@keyframes counter {
  100% {transform: rotate(-1turn); }
}

.container {
  opacity: 0.5;
  filter: alpha(opacity=50); 
}

.container:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); 
}


@media print (max-width: 800px) { 
  /* All your print styles go here */
  .title {
  font-size: 3rem;
  }, 
  .caption-first {
  font-size: 1rem;
  font-style: italic;
  }, 
  .caption-second {
  font-size: 1rem;
  font-style: italic;
  },
  .caption-third {
  font-size: 1rem;
  font-style: italic;
  }.
  .credit {
  font-family: 'Courier Prime', monospace;
  color: black;
  font-size: 1rem;
  },
  .caption-fourth {
  font-size: 1rem;
  font-style: italic;
  },
  .row {
  display: inline-block;
  padding-left: 5vw;
  padding-right: 5vw;
  },
}
